/* Start header formatting */
body header {
  background-color:  #002550;
}
body header nav {
  display: flex;
  z-index: 2;
}
body nav ul {
  display: flex;
  height: 75px;
  width: 200px;
}
body header nav ul.left{
  justify-content: left;
}
body header nav ul.right{
  justify-content: right;
  margin-left: auto;
}
body header nav ul li a{
  text-decoration: none;
  display: flex;
  padding: 25px;
  font-size: 25px;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  color: white;
}
body header nav ul li a.hover{
  background-color: green;
}

body header div{
  width: 960px;
  display: block;
  background-image: url(../img/woodgrain.jpg) ;
  border-radius: 1000px;
  border-style:outset;
  border-color: brown;
  border-width: 5px;
  z-index: 3;
  position: absolute;
  top:40px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  margin-bottom: 400px;
}

body header div image{
  margin: auto;
}
body header div p {
  font-size: 64px;
  font-family: 'Playball', cursive;
  color: whitesmoke;
  text-shadow: #FC0 1px 0 10px;
}
/* End header stuff */
/* Start Body - Background swapping alternate solid colors with images*/
.main {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.main-fixed {
  min-height: 100vh;
  background-attachment: fixed;
}

/* backgrounds */
.main:nth-child(1) {
  background-image: url(../img/seattleskyline.jpg);
  display: flex;
  font-size: 120px;
  font-family: 'Playball', cursive;
  color: whitesmoke;
  text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
  justify-content: center;
  align-items: center;
  transition: 750ms;
}
.main:nth-child(2) {
  background-color:#002550;
}
body main section.main #family{
  display:flex;
}
body main section.main #family img{
  height: auto;
  width: 100%;


}
body main section.main #family div{
  display: flex;
  flex-direction: column;
  color: aliceblue;
}

body main section.main #family div h1{
  text-align: center;
  font-family: 'Playball', cursive;
  font-size: 60px;
  font-size: 5vh;
  margin-top: 15px;
  margin-bottom: 15px;
}
body main section.main #family div p{
  margin:auto;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 75%;
  font-size: 18px;
  line-height: 1.25em;

}
.main:nth-child(3) {
  background-image: url(../img/fishbg.jpg);
    display: flex;
  font-size: 120px;
  font-family: 'Playball', cursive;
  color: whitesmoke;
  text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
  justify-content: center;
  align-items: center;
}

.main:nth-child(4) {
  background-color:#002550;
  transition: 750ms;
}
body main section.main #products{
  display:flex;
  align-items: center;
  justify-content: center;
  margin: auto;

}
body main section.main #products div{
  display: flex;
  flex-direction: column;
  color: aliceblue;
  margin:auto;
  align-items: center;
}
body main section.main #products div h1{
  text-align: center;
  font-family: 'Playball', cursive;
  font-size: 60px;
  margin-top: 15px;
  margin-bottom: 15px;
}
body main section.main #products div ul{
  display: flex;
  margin:auto;
}
body main section.main #products div ul li{
  display: flex;
  flex-direction: column;
  margin:auto;
  align-items: center;
  margin-bottom: 15px;
}
body main section.main #products div ul li img{
height: 150px;
margin-left: 15px;
margin-right: 15px;
}
body main section.main #products div ul li p{
  font-size: 1.5em;
  margin-bottom: 15px; 
}
.main:nth-child(5) {
  background-image: url(../img/pikeplace.jpg);
  display: flex;
  font-size: 120px;
  font-family: 'Playball', cursive;
  color: whitesmoke;
  text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
  justify-content: center;
  align-items: center;
  
}
/* End Body */
/* Footer Stuff */
body footer {
  display: inline-flex;
  background-color: #002550;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  justify-content: stretch;
}

body footer div{
  display: flex;
  color: white;
  width: 960px;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}
body footer div div {
  display:flex;
  flex-direction: column;
  width: 162px;
  align-items: stretch;
}
body footer div div p:first-child {
  font-size: larger;
  font-weight: bold;
  margin-bottom: .5em;
}
body footer div div p:nth-child(2){
  margin-bottom: .5em;
}