html body {
  background-color: #0081A7;
}
/* Header start */
body header {
  background-color:  #002550;
}
body header nav {
  display: flex;
  z-index: 2;
}
body nav ul {
  display: flex;
  height: 75px;
  width: 200px;
}
body header nav ul.left{
  justify-content: left;
}
body header nav ul.right{
  justify-content: right;
  margin-left: auto;
}
body header nav ul li a{
  text-decoration: none;
  display: flex;
  padding: 25px;
  font-size: 25px;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  color: white;
}
body header nav ul li a.hover{
  background-color: green;
}
body header div{
  width: 960px;
  display: block;
  background-image: url(../img/woodgrain.jpg) ;
  border-radius: 1000px;
  border-style:outset;
  border-color: brown;
  border-width: 5px;
  z-index: 3;
  position: absolute;
  top:40px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

body header div image{
  margin: auto;
}
body header div p {
  font-size: 64px;
  font-family: 'Playball', cursive;
  color: whitesmoke;
  text-shadow: #FC0 1px 0 10px;
}
/* header end for nav */
body h1 {
  height: 200px;
  display: flex;
  font-family: 'Audiowide', cursive;
  font-size: 3em;
  background-color:#002550;
  display: flex;
  padding: 0.5em;
  text-align: center;
  justify-content: center;
  align-items: baseline;
  margin: 0.75em;
  border-radius: 20px;
  color: aliceblue;

}

table {
  background-color: #f07167;
}

table, th, td {
  border: 4px;
  border-style: solid;
  border-color: black;
  border-radius: 3px;
  padding: 5px;
  text-align: center;
  width: 100%;
  font-size: 1em;
  position: relative;
}

table thead th {
  background-color: #FED9B7;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  vertical-align:middle;
  word-wrap: break-word;

}

table thead th:nth-child(even):not(:first-child) {
  background-color: #caf0f8;
}


table tbody tr td {
  font-size: 1.2em;
  font-family: Arial, Helvetica, sans-serif;
}

table tbody tr td:not(:first-child){
  background-color: #FED9B7;
}
table tbody tr td:nth-child(even){
  background-color: #caf0f8;
}

table tbody tr th{
  background-color: #FED9B7;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.5em;
}
table tfoot tr td{
  background-color: #FED9B7;
  font-size: 1.2em;
  font-family: Arial, Helvetica, sans-serif;
  vertical-align:middle;
  font-weight: bolder;
}
table tfoot tr td:nth-child(even){
  background-color: #caf0f8;
}
table tfoot tr th{
  background-color: #FED9B7;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.5em;
}